# Dependencies
node_modules/
venv/
__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

# Build outputs
dist/
build/
*.pyc

# Kubernetes
*.kubeconfig
kubeconfig

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Secrets
secrets/
*.key
*.pem
platform/platform-controller/controller/bin/
platform/base/platform-controller/controller/bin/
